
@font-face {
  font-family: "Sprite-Graffiti-Shadow";
  src: url("https://raw.githubusercontent.com/Patrickisbetter/streetwearurbanpulse/refs/heads/another/fonts/sprite-graffiti-shadow.otf?v=1731970347757");
}

@font-face{
  font-family: "Sprite-Graffiti-Regular";
  src: url("https://raw.githubusercontent.com/Patrickisbetter/streetwearurbanpulse/refs/heads/another/fonts/sprite-graffiti-regular.ttf?v=1733145576419");
}


*, ::after, ::before {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    margin: 1rem;
    line-height: 1.5;
    font-size: 26px;
    padding-top: 0px;
    margin: 0;
    /*font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);*/
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

section > h1, section > h3, main > h3{
    width: fit-content;
    margin: .83em auto .83em auto;
    font-family: "Sprite-Graffiti-Shadow", sans-serif;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul, ol {
    list-style-type: none;
}

.active {

}

#navbar {
    display: flex;
    background-color: red;
    padding: 1vh 2vw 1vh 2vw;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin-right: -100%;
    z-index: 2;
    position: sticky;
    top: 0px;
    margin-top: 6vh;
}
#navbar_logo {
    height: 100%;
}
#navbar > ul {
    display: flex;
    gap: 5px;
}
#shopping_cart {
    margin-left: 10px;
}


header > section {
    contain: content;
}

#newsline {
    width: 100%;
    height: 6vh;
    align-content: center;
    display: inline-block;
}
#newsline > p {
    display: inline-block;
    font-size: 5vh;
    top: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    float: left;
    margin-right: -100%;
    backface-visibility: hidden;
    padding: 0;
    font-family: "Sprite-Graffiti-Shadow", sans-serif;
    transform: translate(100%);
    transition: transform linear 15s;
    position: relative;
    left: 0px;
    font-size: 1.9rem;
    opacity: 0;
}

#newsline > .active {
    transform: translate(-100%);
    opacity: 1;

}

#carousel_overlay {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    align-content: center;
    margin: 0 auto 20px auto;
    right: 0px;
    left: 0px;
    width: fit-content;
    
}


#carousel_overlay > * {
    align-content: center;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 4px;
}

#carousel_overlay > h2 {
    margin-bottom: 20px;
    font-family: "Sprite-Graffiti-Regular", sans-serif;
    font-size: 5rem;
    text-align: center;
    text-align: center;
    line-height: 1;
}

#carousel_overlay > div > button {
    width: 29px;
    height: 4px;
    border: 0;
    border-radius: 4px;
    padding: 0px;
    opacity: .5;
    pointer-events: visible;
    cursor: pointer;
}
#carousel_overlay > div > .active {
    opacity: .8;
    border: 2px solid red;
}
#carousel {
    display: flex;
    width: 100%;
    transition: 2s ease-in-out 3s transform;
}

#carousel > picture {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out 3s translate;
    opacity: 1;
}
#carousel > .active {
    border: 2px red solid;
}

#carousel > picture:nth-child(1){
    translate: 0%;
}
#carousel > picture:nth-child(2){
    translate: 100%;
}
#carousel > picture:nth-child(3){
    translate: -100%;
}

#inspo > h1 {
    font-size: 7vw;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(https://raw.githubusercontent.com/Patrickisbetter/streetwearurbanpulse/refs/heads/another/images/grafiti2.jpg?v=1732232661900);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 8s ease-in-out 0s infinite behind_inspo;
    transition: background-position-y ease-in-out 8s;
    font-weight: 900;
}

@keyframes behind_inspo {
    0% {background-position-x: center;}
    25% {background-position-x: right;}
    75% {background-position-x: left;}
    100% {background-position-x: center;}

}

#trending h2 {
    font-family: "Sprite-Graffiti-Shadow", sans-serif;

}

/* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf7, #444cf7 50%, #e5e5f7 50%);
background-size: 10px 10px; */

/* {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center; */